:root {
  --sidebarwidth: 200px;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: white;
}

h1 {
  margin-bottom: 1em;
  font-size: 1.3em;
  font-weight: bold;
}

h2 {
  font-size: 3rem;
  font-weight: 300;
  margin: .6rem;
}

h2 span {
  font-size: 1.8rem;
}

p {
  font-size: 1.2rem;
}

#annotation {
    top:0;
    width:0;
    height:0;
    position:absolute;
}

.navigation {
   margin-top:20px;
   display: flex;
   flex-wrap: wrap;
};

footer { background: url('../img/Bar.png'); }

.stat  { grid-area: stat;  }
.arena { grid-area: arena; }
.comm  { grid-area: comm;  }

.panel {
    font-family: 'Roboto', sans-serif; 
    padding: 20px; 
    width: auto;
    height: auto;
    background-color: whitesmoke;
    box-shadow: var(--shadow);
    margin-bottom: 0px;
}

.bench div {
	display: inline-block;
	margin-top: -2px;
	vertical-align: middle;
}

.benchPlayer {
    width: 50%;
    clear: none;
	font-weight: bold;
    vertical-align: middle;
}

.benchClock {
    align-items: center;
    text-align: center;
    padding: 2px;
    float: right;
    clear: none;
    width: 35%;
    height: 35px;
    font-size: .85rem;
    border-radius: 3px;
    border: 1px solid transparent;
    border-top: none;
    border-bottom: 1px solid #DDD;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}

#benchtop {
    height: 60px;
}

#benchbottom {
    height: 60px;
}

.comm1 {
    align-items: center;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    height: 65px;
    font-size: 1rem;
    border-radius: 3px;
    border: 1px solid transparent;
    border-top: none;
    border-bottom: 1px solid #DDD;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
    margin-bottom: 10px;
}

.status {
	color:blue;
}

.arena {
	width: 100%;
	margin: 0 auto;
	margin-top: 10px;
}

.comm {
    width:500px;
    margin-top: 15px;
}

.statpanel {
	margin-top: 15px;
}

.block {
	padding: 10px;
	width: 300px;
	float: left;
}

@media only screen and (max-width: 600px) {
  	.stadium {
 
  	}
	.stadium > div:nth-of-type(1) { 


	}
 	.stadium > div:nth-of-type(2) {  


	}
	.stadium > div:nth-of-type(3) { 


	}
  	.panel {
    	margin-right: 10px;
  	}
}